
          <!-- Google search -->
<!--           <table border="0">
          <div id = "top-widget" style="width: 252px; margin-left: -13.5px; margin-top: -10px; margin-bottom: -15px;">
         <script>
           (function() {
             var cx = '012053542614118746585:ktgei4l2oek';
             var gcse = document.createElement('script');
             gcse.type = 'text/javascript';
             gcse.async = true;
             gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
             var s = document.getElementsByTagName('script')[0];
             s.parentNode.insertBefore(gcse, s);
           })();
         </script>
         <gcse:search></gcse:search>
          </div>
          </table> -->

          

         <!--  {% if page.category %}
          <nav>
          
            <div class="header">Latest by category</div>
            <ul>
              {% for category in site.categories %}
                {% if category[0] == page.category %}
                  {% for post in category[1] offset:0 limit:5 %}
                    <li><a style="text-align: left; font-family: 'Open Sans Condensed', sans-serif; color: #204081;" href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
          {% endif %}



          <nav>
            <div class="header">Latest</div>
              {% for post in site.posts limit:20 %}
                <li><a style="text-align: left; font-family: 'Open Sans Condensed', sans-serif;color: #204081"  href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </nav> -->

          <aside class = "social">
          <div class = "header">Share</div>
          {% include share-page.html %}
          </aside>
          
           <nav>
            <div class="header">Diễn đàn</div>
            <a   href="https://www.facebook.com/vvtuan.vn">
            <img width="100%" src="{{ site.baseurl }}/assets/latex/new_logo9-2.png"/>  </a>
          </nav>
          
          <nav>
            <div class="header">Interactive Learning</div>
            <a   href="https://fundaml.com">
            <img width="100%" src="{{ site.baseurl }}/images/fundaml_web.png"/>  </a>
          </nav>

          <nav>
          <div class = "header" with = "100%">Facebook page</div>
          <!-- <a href = "https://www.facebook.com/vvtuan.vn/" target="_blank" title="Follow us"><img src = "/assets/images/facebook.png" width="30"></a> -->
          <!-- facebook page -->

         <div class="fb-page" data-href="https://www.facebook.com/vvtuan.vn/" data-width="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/vvtuan.vn/" class="fb-xfbml-parse-ignore" ><a style = "color: #204081" href="https://www.facebook.com/vvtuan.vn">Vu Van Tuan</a></blockquote></div>
          <!--end facebook page -->

          </nav>
          <nav>
            <div class="header">Facebook group</div>
            <a   href="https://www.facebook.com/groups/257768141347267/">
            <img width="100%" src="{{ site.baseurl }}/assets/14_mlp/multi_layers.png"/>  </a>
          </nav>
          


          <nav>

          <div class="header">Recommended books</div>
            <ul>
              <li> <a style="text-align: left; color: #074B80;" href="https://google.com.vn">Google </a></li>

            </ul>
          </nav>

          <nav>
          <div class="header">Recommended courses</div>

          <ul>
              <li> <a style="text-align: left; color: #074B80;" href="https://ocw.mit.edu/courses/mathematics/">MIT Mathematics </a></li>
        

            </ul>
          </nav>

          <nav>
          <div class="header">Others</div>
          <ul>
              <li> <a style="text-align: left; color: #074B80;" href="<link>"> Tile </a></li>    

            </ul>
          </nav>
          <!-- <img style = "transform: scaleX(1); width:100%; margin-left:00px;position: absolute;" src = "/images/mai.jpg"> -->
         
         <!--  {% if page.previous.url %} 
            <nav>
              <div class="header">Previous by date</div>
              <ul>
                <li><a style="text-align: left; font-family: 'Roboto Condensed', sans-serif; color: #074B80;" href="{{ page.previous.url }}">{{ page.previous.title }}</a></li>
              </ul>
            </nav>
          {% endif %} 
          {% if page.next.url %} 
            <nav>
              <div class="header">Next by date</div>
              <ul>
                <li><a style="text-align: left; font-family: 'Roboto Condensed', sans-serif; color: #204081;" href="{{ page.next.url }}">{{ page.next.title }}</a></li>
              </ul>
            </nav>
          {% endif %}  -->